
body {
  background-color: black;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  text-transform: uppercase;

}


.nav{
  height: 60px;
  text-align: center;
}

.nav_ul{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav_link{
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: black;

}

.nav_link:visited{
  color: black;
}




