
body {
  background-color: black;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.logo{
  padding-left: 50px;
}

.nav{
  text-align: center;
}

.nav_ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 50px;
}

li{
  text-transform: uppercase;
}

.nav_link{
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 23px;
}

.nav_link:visited{
  color: black;
}




